%h1.lighter= "#{@user.username}"
%h4.lighter= @client.rate_limit_remaining
.row
  .col-sm-6.col-lg-8
  .col-12.col-sm-6.col-lg-4
    %ul.list-group
      - @user.repos.each do |repo|
        %li.list-group-item.gray-background
          %span.badge.gray-background
            %a.no-decoration{href:"http://github.com/#{@user.username}/#{repo.name}"}
              %i.icon-github.icon-2x.has-tooltip{:'data-toggle' => 'tooltip',  :'data-original-title' =>  'View on Github'}
          = link_to repo['name'], "/#{@user.username}/#{repo['name']}", class: 'lead'

:javascript
  $(".has-tooltip").tooltip();
