%h4.lighter.pull-right= SharedHelper.last_updated @client
%h1.lighter= "#{@user.user.login}"
.row
  .col-12.col-sm-6.col-lg-8
    .row
      .col-12.col-sm-6.col-lg-6
        .media
          %img.img-responsive.pull-left.media-object{src: UserHelper.gravatar_url(@user)}
          .media-body
            %h4.meadia-header Basic Facts
            %p
              %strong Name:
              = @user.user.name if @user.user.methods.include?(:name)
              %br
              %strong Created:
              = @user.user.created_at.strftime('%b %d, %Y')
    #languages
    #events
    %p.text-muted.text-center
      Based on last 300 Events. For more detailed information on github event types, see
      the
      = link_to 'API docs', 'http://developer.github.com/v3/activity/events/types/', target: '_blank'
  .col-12.col-sm-6.col-lg-4.pull-right
    %ul.list-group
      - @user.repos.each do |repo|
        %li.list-group-item.gray-background
          %span.badge.gray-background
            %a.no-decoration{href:"http://github.com/#{@user.user.login}/#{repo.name}"}
              %i.icon-github.icon-2x.has-tooltip{:'data-toggle' => 'tooltip',  :'data-original-title' =>  'View on Github'}
          = link_to repo.name, "/#{@user.user.login}/#{repo.name}", class: 'lead'

:coffee
  #{partial 'highcharts/pie_chart', locals: {id: 'languages', name: 'Repositories by Language', data: SharedHelper.to_data(@user.languages)}}
  #{partial 'highcharts/pie_chart', locals: {id: 'events', name: 'Distribution of Event Types', data: SharedHelper.to_data(@user.event_types)}}
:javascript
  $(".has-tooltip").tooltip();
