!!!
%html
  %head
    %title Octostats
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://code.highcharts.com/highcharts.js"
    = javascript_include_tag "grid_theme"
  %body
    %a{href: 'https://github.com/kristenmills/octostats'}
      %img{style: 'position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;',
           src: 'http://aral.github.com/fork-me-on-github-retina-ribbons/right-green@2x.png',
           alt: 'Fork me on GitHub'}
    .container
      .page-header
        %a.no-decoration{href: '/'}
          %h1.text-center.lighter{style: 'font-size: 70px;'} OctoStats
        %h3.text-muted.text-center.lighter Hip and happening Github stats.
      = yield
      %hr
      .text-center
        %small Copyright (c) 2013 Kristen Mills